extends layout 

block content 

  h2= title 
  form(method="POST")
    div(class="form-group")
      label(for="name") Category: 
      input(id="name", class="form-control", type="text", placeholder="Electronics, Clothing, etc.", name="name", required, value=(category===undefined ? '' : category.name))
    div(class="form-group")
      label(for="description") Description: 
      textarea(id="description", class="form-control", name="description", required, cols="30", rows="10")
        |#{category===undefined ? '' : category.description}
    button(type="submit") Submit 

  if errors 
    ul 
      for error in errors 
        li!= error.msg
      
