extends layout 

block content 

  h2= title 
  p= category.description 
  if allItems.length
    ul 
      each item in allItems 
        a(href='/items/' + item.url) #{item.name} 
  else 
    p There are no items in this category 