doctype html 
html(lang="en")
  head 
    title= title 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body 
    header 
      h1 ODIN INVENTORY 
    main 
      navbar
        ul 
          li 
            a(href="/") Home 
          li 
            a(href="/categories") All categories 
          li 
            a(href="/items") All items 
          li 
            hr
          li 
            a(href="/categories/category/create") Create new category 
          li 
            a(href="/items/item/create") Create new item
      div(class="main-container")
        block content